---
import Layout from '../layouts/Layout.astro';
import BackButton from '../components/BackButton.astro'
import Breadcrumbs from '../components/Breadcrumbs.astro'
import BusinessCard from '../components/BusinessCard.astro';

// パンくず
const breadcrumbItems = [
  { label: "TOP", href: "/" },
  { label: "about" }
];
---

<Layout>
  <main 
    transition:name="card-about" 
    class="mx-auto w-full max-w-4xl bg-white px-6 py-12 md:px-12 md:py-20 min-h-screen rounded-md"
  >
    <Breadcrumbs items={breadcrumbItems} />
    <div class="mb-10">
      <BusinessCard />
    </div>
    <div class="mb-12 border-b border-zinc-300 pb-5">
      <h1 class="text-2xl font-normal tracking-wide text-zinc-900 md:text-[1.7rem]">
        about
      </h1>
    </div>

    <div class="text-[15px] leading-[2.2] tracking-wide text-zinc-800 md:text-base">
      <h2>bio</h2>
      <p class="mb-8">
        こんにちは。みなとといいます。和歌山大学の情報学領域で勉強している4回生です。研究分野は機械学習を用いた経路計画です。面白い、美しいと思ったことは何でも勉強します。また趣味でwebアプリ開発やサイトのデザイン、運営を行ったり、競技プログラミングのコンテストに参加しています。
      </p>
      <p>現在は外国語の学習と競技プログラミングに没頭しています。</p>
      
      <h2>favorite</h2>
      最近視聴している動画、聴いている曲です。
      <h2>skills</h2>
      Pythonでアルゴリズムを用いたスクリプトを書くことができます。Pythonで強化学習プロジェクトを作成できます。JavaScriptフレームワークやライブラリを用いて簡単なwebサイト、webアプリを構築できます。
      
      Python
      HTML
      CSS
      DSA(Data Structures & Algorithms)
      Astro
      Vue
      Svelte

      <h2>hobby</h2>
      食べること、遊ぶこと、音楽を聴くことが好きです。昨年度のspotify再生時間は49,091分間でした。

      <h2>achievement</h2>
      取得した資格、免許です。

      <BackButton href="/" />
    </div>
  </main>
</Layout>