---
// src/pages/about.astro
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main 
    transition:name="card-about" 
    class="mx-auto w-full max-w-xl bg-white px-6 py-12 md:px-12 md:py-20  rounded-md"
  >
    <div class="mb-12 border-b border-zinc-300 pb-5">
      <h1 class="text-2xl font-normal tracking-wide text-zinc-900 md:text-[1.7rem]">
        about
      </h1>
    </div>

    <div class="text-[15px] leading-[2.2] tracking-wide text-zinc-800 md:text-base">
      <h2>bio</h2>
      <p class="mb-8">
        こんにちは。みなとといいます。和歌山大学の情報学領域で勉強している学生です。研究分野は機械学習です。面白い、美しいと思ったことは何でも勉強します。また趣味でwebアプリ開発やサイトのデザイン、運営を行ったり、競技プログラミングのコンテストに参加しています。
      </p>
      <p>AtCoderで毎週開催されている競技プログラミングコンテストに出場しています。使用言語はPythonです。</p>
      
      <h2 class="">Skills</h2>
      <ul class="list-disc pl-5 space-y-2">
        <li>強化学習・マルチエージェントシステム</li>
        <li>Svelte / Astro / Tailwind CSS v4</li>
      </ul>
      
      <div class="mt-16">
        <a href="/" class="text-zinc-500 hover:text-zinc-900 underline underline-offset-4 transition-colors">
          &larr; topに戻る
        </a>
      </div>
    </div>
  </main>
</Layout>