---
import Layout from '../layouts/Layout.astro';
import BackButton from '../components/BackButton.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import LearningCard from '../components/LearningCard.astro';
import TagFilter from '../components/TagFilter.astro';
import { getCollection } from 'astro:content';

const breadcrumbItems = [
  { label: "TOP", href: "/" },
  { label: "learning" },
];

const items = await getCollection('learning');

items.sort((a, b) => {
  return (a.data.order ?? 999) - (b.data.order ?? 999);
});

// TagFilter用
const allTags = Array.from(
  new Set(items.flatMap((item) => item.data.tags || []))
);
---

<Layout>
  <main 
    transition:name="card-learning"
    class="mx-auto w-full max-w-4xl bg-white px-6 py-12 md:px-12 md:py-20 min-h-screen rounded-md"
  >

    <Breadcrumbs items={breadcrumbItems} />
    
    <div class="mb-12 border-b border-zinc-300 pb-5">
      <h1 class="text-2xl text-zinc-900">
        learning
      </h1>
    </div>
    
    <TagFilter tags={allTags} />
    
    <div class="mb-10 grid grid-cols-1 sm:grid-cols-2 gap-4">
      {items.map((item) => (
        <LearningCard item={item} />
      ))}
    </div>

    <BackButton href="/" />
  </main>
</Layout>