---
interface Props {
  href: string;       // 戻る先のパス
  label?: string;     // ボタンのテキスト（デフォルトは「戻る」）
}

const { href, label = "戻る" } = Astro.props;
---

<a 
  href={href} 
  class="group inline-flex items-center gap-2 text-sm tracking-wide text-zinc-900 transition-colors duration-200 hover:text-zinc-400 select-none"
>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    fill="none" 
    viewBox="0 0 24 24" 
    stroke-width="1.5" 
    stroke="currentColor" 
    class="h-4 w-4 transition-transform duration-200 ease-out "
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
  </svg>
  
  <span class="font-normal">{label}</span>
</a>